.heroesHeader {
    color: #ffd700;
    font-weight: 400;
    font-size: 18pt;
}

.heroesText {
    color: antiquewhite;
    padding-left: 15pt;
    padding-right: 15pt;
}

ul {
    list-style-image: url(../images/marker.png)
}

ul li a {
    display:inline-block;
    color: antiquewhite;
    text-decoration-color: #ffd700;
    font-size: 20pt;
}

ul li:nth-child(2) {
    background-color: blueviolet;
}

.topArrow {
    display:inline-block;
    color: antiquewhite;
    text-decoration-color: #ffd700;
    font-size: 20pt;
}