#imagesFromMovie img {
    margin-top: 30pt;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainImage {
    width: 100%;
    height: auto;
}

.container .row .linkToYT {
    color: antiquewhite;
    text-decoration-color: #ffd700;
    font-size: 25pt;
}