
body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-attachment: fixed;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30pt;
}

.menu_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu_item a {
    color: antiquewhite;
    font-size: 20pt;
    display:inline-block;
    padding:10px;
    text-decoration: none;
}

a, a:visited {
  color: antiquewhite;
}

.menu_item a:hover {
  background-color: aquamarine;
}

h1, h2 {
    color: #ffd700;
    font-weight: 400;
    text-align:center;
}

@media screen and (max-width: 550px) {
  .menu_container {
      flex-direction: column;
  }
}

p {
    color: antiquewhite;
}

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
}
footer {
  margin-top: -100px;
  height: 100px;
}