@media screen and (max-width: 380px) {
    .galaxyImage {
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        content:url("https://vignette.wikia.nocookie.net/myat40/images/5/56/Rick_Astley.jpg/revision/latest?cb=20120721170426")
    }
}